body{
  background-color: #00ccff;
  color: #663300;
  border: 3px solid black;
}
h1{
  font-family: serif;
	color: red;
}
p{
  font-family: cursive;
}
a{
  float: right;
  padding: 8px;
  display: block;
}
ul{
  list-style-type: none;
}
